.container{
    display: grid;
    background-color: antiquewhite;
    /* grid-template-columns: auto auto; */
    grid-template-columns: auto auto 25px;
    grid-template-rows: 200px 250px auto;
    /* grid-row-gap: 20px; */
    /* grid-column-gap: 20px; */
    grid-gap: 100px 50px;  /*(Row column ---> if any one provided than it will set both gaop same)*/
    /* justify-content: space-evenly; */
    align-content: center;
}

.item{
    background-color: rgb(107, 107, 223);
    border: 2px solid rgb(223, 125, 125);
}